@use "./_variables" as *;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to top, #e798cd, #6873e9, #f8e7d6, #f7efd3);
  background-image: url("./../../assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.calculator {
  display: grid;
  background-color: $calculator-background-color;
  border-radius: 15px;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(7, 50px);
  gap: 10px;
  padding: 12px;
  transform: scale(1.1);

  .calculator__display {
    color: $text-primary-color;
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    font-size: 3rem;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .calculator__display--small {
    font-size: 2.5rem;
  }

  .calculator__button {
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 50px;
    border: none;
    transition: filter 0.1s;

    &:active,
    &:focus {
      filter: brightness(130%);
    }
  }

  .calculator__button--center {
    background-color: $button-number-color;
    color: $text-primary-color;
  }

  .calculator__button--top {
    background-color: $button-function-color;
    color: $text-secondary-color;
  }

  .calculator__button--side {
    background-color: $button-operator-color;
    color: $text-primary-color;
  }

  .calculator__button--large {
    grid-column: span 2;
  }
}

@media screen and (min-width: 485px) {
  .calculator {
    transform: scale(1.5);
  }
}
