$calculator-background-color: #000000;
$button-primary-color: #333333;
$button-secondary-color: #f19938;
$button-tertiary-color: #a5a5a5;
$text-primary-color: #f9f9f9;
$text-secondary-color: #0e0e0e;
